body {
    background: #575756;

}


.side-menu {

    h1 {
        font-size: 30px;
    }

    h1,
    p {
        color: $white;
    }

    ul.social {
        margin: 30px 0 0;
        padding: 0;
        display: flex;

        >li {
            list-style: none;

            a {
                color: $white;
                font-size: 30px;
                margin: 10px 20px;
                position: relative;

                &:first-child {
                    margin-left: 0;
                }

                i.fa-etsy {
                    position: absolute;
                    top: 49%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $grey;
                    font-size: 15px;
                }
            }
        }
    }

    ul:not(.social) {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        >li {
            color: rgba($white, .5);
            font-weight: 500;
            font-size: 18px;
            list-style: none;
            cursor: not-allowed;
            display: inline-block;
            position: relative;

            &:after {
                content: 'Coming soon!';
                background: $white;
                border-radius: 100px;
                position: absolute;
                width: auto;
                padding: 0 10px;
                white-space: nowrap;
                color: $dark;
                text-align: center;
                font-size: 12px;
                top: 0;
                left: calc(100% + 10px);
                opacity: 0;
                @include t1;
            }

            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

.main-area {
    text-align: center;

    h2,
    h4 {
        color: $white;
    }

    .logo {
        text-align: center;
        display: inline-block;
        margin: 0 auto;

        img {
            width: 100%;
            max-width: 500px;
            height: auto;
            @include t1;
        }

        &:hover {
            img {
                transform: rotate(2deg) scale(1.05);
            }
        }
    }
}

section#gallery {
    position: relative;
}

.grid {
    width: 100%;

    .grid-item {
        width: 25%;
        margin: 20px 0;
        padding: 0 20px;

        @include bp(xs) {
            width: 50%;
        }

        img {
            max-width: 100%;
            width: 100%;
        }

        &--width-2 {
            width: 25%;
        }
    }
}

.section-title {
    h2 {
        color: $white;
        text-align: center;
    }
}